html,body {
    font-family: arial,sans-serif;
    font-size: 18px;
    color: black;
    background: #FFFFFF;
  }
  
  h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
  }
  h1.animated-txt { 
    font-size: 3.5em; 
    color: black;
    font-weight: 200;
  }

  #birthdayPage {
    position: relative;
    height: 100%;
  }

  .wish-bg-image {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background-image: url("./assets/pic-1.jpeg");
    opacity: 0.4;
  }

  .wish-bg-image img {
    height: 500px;
    width: 500px;
  }

  #result-page-logo {
    cursor: pointer;
  }

  #home {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
      padding-top: 150px;
  }

  .searchForm, .searchResultsForm {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    width: 582px;
  }

  .searchForm {
    margin: 0 auto;
  }

  .searchElmsWrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
  }

  .searchElmsWrapperAutocomplete, .m-searchElmsWrapperAutocomplete {
    padding: 5px 8px 0 16px;
    padding-left: 14px;
  }

  .iblpc {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.uFMOof {
  margin: auto;
}

.nS8rZ {
  color: #9AA0A6;
  height: 20px;
  width: 20px;
  margin-top: 3px;
}

.gLFyf {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
}

.z1asCe {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.google-brand-img-big {
  height: 108px;
  width: 320px;
}

.google-brand-img-small {
  height: 30px;
  width: 92px;
}

.brand-img-wrapper {
  margin-bottom: 20px;
}

.search-submit-btn, .birthdaywish-btn {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
}

.search-optns-wrapper {
  padding-top: 18px;
}

#searchForm, #searchResult {
  height: 100vh;
}

.brand-img-wrapper, .search-optns-wrapper {
  text-align: center;
}

.search-nav-tab-item {
  padding: 16px 12px 12px 10px;
}

.flex-vert-center-align {
  display: flex;
  align-items: center;
}

.searchResultsForm {
  margin-left: 30px;
}

.flex-center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-nav-tabs {
  display: flex;
}

.tab-selected {
  border-bottom: 3px solid #1A73E8;
  color: #1A73E8 !important;
}

.search-nav-item-img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.search-nav-tab-item {
  display: flex;
  cursor: pointer;
  color: #666;
}

.search-nav-tab-item:hover {
  color: #1A73E8;
}

.search-item-img {
  height:16px;
  width:16px;
  margin-right: 5px;
}

.search-item-txt {
  font-size: 13px;
}

#searchFormPage {
   margin-top: 200px;
}

#searchResultPage {
  margin-top: 20px;
}

.searchResultsContentWrapper {
  height: calc(100vh - 64px);
}

.searchResultsNotValidWrapper, .searchResultsValidContentWrapper {
  margin-left: 150px;
}

.searchResultFormWrapper {
  margin-left: 20px;
}

.left-info {
  font-size: 14px;
  width: 50%;
}

.info-wiki-name {
  font-family: arial,sans-serif;
  color: #1a0dab;
  font-size: 20px;
  line-height: 1.3;
}

.info-wiki-link {
  color: #006621;
  font-size: 16px;
  padding-top: 1px;
  line-height: 1.5;
}

.all-results {
  margin-top: 20px;
  display: flex;
}

.info-content {
  font-family: arial,sans-serif;
  color: #545454;
}

.info-values span {
  font-size: 14px; 
}

.info-values-header {
  font-weight: bolder;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.people-ask-wrapper {
  margin-top: 25px;
}

.people-also-ask-txt {
  color: #222;
  font-size: 20px;
  padding: 9px 16px;
  line-height: 1.3;
  font-weight: normal;
  margin: 0;
  border: 1px solid #dfe1e5;
  border-bottom: none;
  border-radius: 6px;
}

.panel-group .panel+.panel {
  margin-top: 0px;
  border-bottom: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none !important;
}

.panel-default>.panel-heading {
  color: black;
  background-color: #ffffff;
}

.img-wrapper img {
  max-width: 200px;
  height: 240px;
}

.img-wrapper {
  display: inline-block;
  height: 240px;
  margin: 0px 12px 12px 0px;
}

.did-you-mean-txt {
  color: #dd4b39;
  font-size: 18px;
  margin-right: 3px;
}

.did-you-mean-wrapper {
  display: flex;
  margin-top: 25px;
}

.m-did-you-mean-wrapper {
  display: flex;
  margin-top: 25px;
  margin-left: 16px;
}

.suggested-txt, .m-suggested-txt {
  color: #1a0dab;
  font-size: 18px;
  cursor: pointer;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.suggestions {
  background-color: #fff;
  margin: 15px 0 10px 0;
  border-radius: 8px;
  border-bottom: 1px hidden #fff;
  padding: 11px 16px 11px 16px;
}

.m-suggestions {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.suggestions ul li {
  font-size: medium;
}

.images-results {
  margin-top: 20px;
}

.confettiBgColor {
  background-color: #222;
}

.info-big-img {
  height: 186px;
  width: 210px;
}

.info-small-img-top {
  width: 150px;
  height: 93px;
}

.info-small-img-bottom {
  width: 100px;
  height: 93px;
}

.info1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.info2-wrapper {
  display: flex;
  flex-direction: column;
}

.info3-wrapper {
  display: flex;
  flex-direction: row;
}

.wiki-info-name-txt {
  color: rgba(0,0,0,.87);
    line-height: 1.2;
    overflow: hidden;
    font-family: arial,sans-serif-light,sans-serif;
    display: inline;
    font-size: 30px;
    font-weight: normal;
    position: relative;
    transform-origin: left top;
    transform-origin: left top;
    word-wrap: break-word;
}

.wiki-sub-info-txt {
  color: #70757a;
  font-family: arial,sans-serif;
  margin: 4px 0;
  overflow: hidden;
}

.left-info, .right-info {
 margin:  0 20px;
}

.right-info {
  width: 510px;
}

.sub-info-wrapper {
  margin-bottom: 10px;
  padding-left: 10px;
}

.imgs-sub-info-wrapper {
  border: 1px solid #dfe1e5;
}

.main-wiki-link {
  color: #1a0dab;
  font-size: 14px;
}

.main-wiki-info-txt {
  font-size: 14px;
  color: #222;
}

.main-wiki-content-wrapper {
  padding: 15px;
  border: 1px solid #dfe1e5;
}

.people-also-search-for {
  color: #222;
  line-height: 1.3;
  font-size: 20px;
  margin-top: 15px;
}

.people-search-for-img-wrapper {
  display: flex;
}

.people-search-for-div {
  display: flex;
  flex-direction: column;
  width: 72px;
  margin: 10px;
}

.people-search-for-img {
  height: 72px;
  width: 72px;
}

.people-search-for-name {
  color: #1a0dab;
  font-size: 14px;
}

.panel-body {
  font-size: 16px;
}

.panel-title a:hover, .panel-title a:hover,  .panel-title a:active{
  text-decoration: none !important;
}

.panel-title {
  width: 100%;
}

.animated-txt {
  max-width: 600px;
  text-align: center;
}

.birthday {
  color: #1a0dab;
  cursor: pointer;
}

.panel {
  border-bottom: none !important;
}

.wiki-info-wrapper {
  cursor: pointer;
}

.info1-wrapper {
  cursor: pointer;
}

.autocomplete-wrapper, .m-autocomplete-wrapper {
  display: flex;
  margin: 0 auto;
  border: 1px solid #dfe1e5;
  padding-top: 10px;
  cursor: pointer;
}

.autocomplete-wrapper {
  width: 582px;
  height: 44px;
}

.m-autocomplete-wrapper {
  justify-content: space-between;
  align-items: center;
}

.autocomplete-wrapper:hover, .m-autocomplete-wrapper:hover {
  background-color: #eee;
}

.autocomplete-search-form {
  border-radius: 0px !important;
}

.suggestion-hover {
  background: #eee;
}

.videos-txt, .tv-show-txt {
  font-size: 20px;
  line-height: 1.3;
} 

.videos-wrapper, .tv-shows-wrapper {
  margin: 40px 0;
}

.videos-content-wrappers, .m-videos-content-wrappers {
  display: flex;
  margin-top: 10px;
  overflow-x: auto;
}

.wish-video {
  margin: 0 5px;
}

.tv-show-img {
  height: 110px;
  width: 72px;
}

/*****************MOBILE CSS*****/


.m-brand-img {
  padding-top: 68px;
}

.m-gsearch-wrapper {
  margin: 8px;
}

form#tsf {
  margin-left: auto;
  margin-right: auto;
  max-width: 736px;
  overflow: hidden;
  width: auto;
}

.A7Yvie {
  background: none;
  position: relative;
  border-radius: 20px;
}

.zGVn2e {
  display: flex;
  z-index: 3;
  border: 1px solid #DFE1E5;
  border-radius: 20px;
  background: #fff;
}

.SDkEP {
  flex: 1;
  display: flex;
  padding: 7px 0 6px;
}

.a4bIc {
  display: flex;
  flex: 1;
}

.dRYYxd {
  display: flex;
  flex: 0 0 auto;
  margin: -7px 0;
  align-items: stretch;
  flex-direction: column;
}

.Tg7LZd {
  display: flex;
  border-radius: 0 20px 20px 0;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #3b78e7;
  border: 1px solid #3367d6;
  margin: -1px;
  flex: 0 0 auto;
}

.gBCQ5d {
  background: none;
  color: #fff;
  height: 24px;
  width: 24px;
  margin: auto;
}

.m-search-result-brand-img {
  background: url("./assets/mobile-small-brand-img.jpg") no-repeat;
  height: 43px;
  width: 110px;
  margin: 0 auto;
}

.m-brand-img-wrapper {
  padding: 16px 0 14px;
}

.m-search-nav-tabs {
  font-size: 12px;
  text-transform: uppercase;
}

.m-search-tabs-content-wrapper {
  -webkit-user-select: none;
  display: block;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  box-shadow: 0px 7px 6px -5px #DFE1E5;
  height: 40px;
  margin-left: -3px;
  margin-right: -3px;
}

.m-search-tabs-content {
  padding-right: 8px;
  padding-left: 11px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.m-search-nav-tab-item {
  display: inline-block;
  line-height: 27px;
  height: 32px;
  margin-top: 8px;
  padding: 0 16px;
  text-align: center;
}

.m-tab-selected {
  border-bottom: 2px solid #1A73E8;
  box-sizing: border-box;
  box-sizing: border-box;
  color: #1A73E8;
}

.main-info-wrapper {
  background: radial-gradient(farthest-side circle at 108px 34px, #EFF2FB, #DFE6F6 86%);
  align-items: flex-start;
  display: flex;
  padding-bottom: 5px;
  width: 100%;
}

[data-hveid] {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.main-info-wrapper-layer {
  padding: 10px 0 0 24px;
  flex: 1;
  min-width: 0;
  word-wrap: break-word;
}

.main-info-wrapper-sub-layer {
  clear: both;
}

.main-info-content {
  line-height: 1.2;
  position: relative;
  padding: 8px 0 4px;
}

.main-info-title {
  color: #202124;
  font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;
  font-size: 18px;
  overflow: hidden;
  padding: 0 0 8px;
}

.main-info-sub-title {
  color: #202124;
  font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
  font-size: 12px;
  padding: 0 0 10px;
}

.main-img-wrapper {
  overflow-x: auto;
  display: flex;
}

.m-img-wrapper {
  display: inline-block;
  margin: 5px 0px;
}

.m-img-wrapper img {
  max-width: 168px;
}

.m-left-img-wrapper, .m-right-img-wrapper {
  max-width: 168px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.m-search-tab-results {
  margin-top: 5px;
}

.m-wiki-info-wrapper {
  background-color: #fff;
  margin: 0 8px 10px 8px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 8px;
  border-bottom: 1px hidden #fff;
}

.m-wiki-header {
  padding: 12px 16px;
}

.m-wiki-link-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #202124;
  margin-bottom: 12px;
}

.wiki-img {
  margin-right: 12px;
  vertical-align: middle;
}

.m-wiki-link-txt {
  font-size: 12px;
  color: #3C4043;
  white-space: nowrap;
}

.m-wiki-name {
  font-size: 16px;
  line-height: 20px;
  padding-top: 1px;
  margin-bottom: -1px;
  color: #1967D2;
}

.m-wiki-content-wrapper {
  padding: 12px 0px;
}

.m-wiki-content {
  font-size: 14px;
  line-height: 20px;
}

.m-top-results, .m-people-also-search-for {
  color: #202124;
  font: bold 16px/20px Roboto-Regular,HelveticaNeue,Arial,sans-serif;
  padding: 20px 16px 12px;
}

.m-info-value {
  color: #70757A;
}

.m-info-values-header {
  color: #202124;
}

/* .m-videos-wrapper {

} */

.m-videos-txt {
  color: #202124;
  font: bold 16px/20px Roboto-Regular,HelveticaNeue,Arial,sans-serif;
  padding: 20px 16px 12px;
}

.m-people-also-ask-txt {
  color: #202124;
  font: bold 16px/20px Roboto-Regular,HelveticaNeue,Arial,sans-serif;
  padding: 20px 16px 12px;
}

.video-content {
  display: flex;
  flex-direction: column;
}

.video-content-parent {
  background-color: #fff;
  border-radius: 8px;
  border-bottom: 1px hidden #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.video-content-txt {
  color: #1967D2;
  margin: 13px 16px 0;
  font-size: 16px;
  line-height: 1.25em;
}

.video-content-date {
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: #70757A;
  line-height: 16px;
  padding-bottom: 11px;
}

.m-people-search-for-img-wrapper {
  display: flex;
  overflow-x: auto;
}

.m-animated-txt {
  max-width: 360px;
  text-align: center;
}

#m-home {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  padding-top: 75px;
}

#m-birthdayPage {
  position: relative;
  height: calc(100vh - 106px);
}

h1.m-animated-txt { 
  font-size: 1.75em; 
  color: black;
  font-weight: 200;
}

.m-autocomplete-suggestion {
  display: flex;
  flex-direction: column;
}

.m-autocomplete-name {
  display: flex;
  font-size: 16px;
  color: #212121;
  flex: 1;
  align-items: center;
  word-break: break-word;
}

.m-autocomplete-prof {
  display: flex;
  font-size: 12px;
  color: #767676;
  flex: 1;
  align-items: center;
}

.m-autocomplete-img {
  margin-right: 7px;
  margin-bottom: 7px;
}

.m-images-results {
  display: flex;
  justify-content: center;
}

.birthday-wish-img, .m-birthday-wish-img {
  position: absolute;
  opacity: 0.4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-birthday-wish-img {
  height: 400px;
  width: 400px;
}

.birthday-wish-img {
  height: 800px;
  width: 800px;
}

.m-birthday-date {
  color: #1967D2;
}

.home-page-extras {
  display: flex;
  margin-top: 6px;
}

.extras-content {
  display: flex;
  flex-direction: column;
  padding: 8px 0 12px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, .54);
  margin: 0 auto;
}

.extra-svg {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.google-offered-in {
  margin-top: 24px;
  text-align: center;
}

.google-offered-in-txt {
  display: inline-block;
  margin: 0 2px;
  white-space: nowrap;
  line-height: 28px;
}

.languages-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.language-txt {
  color: #1967D2;
  padding: 0px 8px;
}

.made-with-love {
  text-align: center;
  background: #eee;
  font-size: 12px;
  height: 25px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a9a9a9;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a9a9a9;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a9a9a9;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a9a9a9;
}

.fa {
  color: #E90606;
  margin: 0 4px;
  font-size: 10px;
  animation: pound .35s infinite;
  -webkit-animation: pound .35s infinite;
}

@keyframes pound {
  to {
    transform: scale(1.25);
  } 
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.25);
  } 
}
